html, body {
	margin: 0;
	padding: 0;
	border: 0;
	background-color: white;
	color: black;
}



.top-bar {
	position: absolute;
	width: 100%;
	background-color: #012C4E;
	height: 50px;
	color: #EAD292;
}

ul li {
	margin: 10px;
}

.top-box{
	width: 75%;
}