html {
	margin: 0;
	padding: 0;
	border: 0;
	background-color: white;
	color: black;
}

@font-face {
	font-family: 'Freesentation-9Black';
	src:
		url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2')
		format('woff2');
	font-weight: 900;
	font-style: normal;
}

body {
	font-family: 'Freesentation-9Black', sans-serif;
}


.top-bar {
	border-radius: 9999px; /* 둥글게 */
	width: 75%;
	background-color: rgb(46, 188, 135);
	height: 50px;
	color:white;
	z-index: 10;
	width: 75%;
	position: fixed;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50px);
	z-index: 100;
}

a {
	padding: 5px;
}

.top-box {
	width: 100%;
	font-size: 20px;
	
}

.top-box div {
	padding-right:5px;
}

.top-box div ul li {
	position: relative;
}

.myP {
	top: 108%;
	right: 12%;
	background-color: #ffffff;;
	border-radius: 8px; /* 둥글게 */
	font-size: 20px;
	width: 140px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
	color: black;
	transition: opacity 0.3s ease;
	opacity: 0;
	visibility: hidden;
	z-index: 100;
}
.img_reload {
	align-content:center;
	right: 0;
}
.top-box>div:nth-child(1) {
	padding-left: 5px;
}

.myimgshow {
	opacity: 1;
	visibility: visible;
}

.myP {
	display: block;
}

.myP>li {
	display: block;
}

.myP>li>a {
	display: block;
}

