html, body {
	height: 3500px;
	background-color: #F5F5F5;
}

.contain {
	padding-top: 50px;
	width: 100%;
}

.main_1-box {
	width: 100%;
	height: 1000px;
	background-color: #708090;
}

#webgl-container {
	position: relative;
	width: 100%;
	height: 1000px;
}

.main_2-box {
	width: 100%;
	height: 1000px;
	background-color: #012C4E;
	position: relative;
}

.info-box {
	width: 100%;
	height: 800px;
	position: absolute;
	background-color: #012C4E;
	top: 100px;
	position: absolute;
}

/*  위에는 자리 정리  */

/*  검색박스 */
.search-box {
	position: relative;
	display: flex;
	align-items: center;
	width: 500px;
	margin-top: 100px;
	margin-bottom: 30px;
	display: flex;
}

.search-box input {
	background-color: #F5F5F5;
	width: 100%;
	padding: 10px 16px;
	border: 1px solid #ccc;
	border-radius: 9999px; /* 둥글게 */
	font-size: 16px;
	transition: 0.3s;
}

.search-box button {
	position: absolute;
	margin-left: 460px;
	color: black;
}

.search-box input:focus {
	background-color: #F5F5F5;
	outline: none;
	border-color: #007BFF; /* 포커스 시 파란색 */
	box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.2);
}

/*메인 인포*/
.show {
	position: absolute;
	display: none;
	width: 500px;
	height: 80%;
	background: rgba(0, 0, 0, 0.5);
	color: white;
	left: 12%;
	margin-top: 100px;
	position: absolute;
	z-index: 10;
	transition: opacity 0.3s ease;
	border-radius: 8px;
}

.show.active {
	display: block;
}

/*2번박스*/
.info-box-items {
	margin-top:40px;
	width: 100%;
}

.info-box-items>div {
	border-radius: 8px;
	width: 165px;
	height: 165px;
}

.info-box-items>div {
	position: relative; /* ::after를 올바르게 위치시키기 위해 필요 */
	overflow: hidden; /* ::after가 바깥으로 넘치지 않게 */
}

.info-box-items>div::after {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15px;
	font: bold;
	content: '';
	color: white;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0); /* 기본은 투명 */
	pointer-events: none; /* 마우스 이벤트 방해하지 않도록 */
}

.info-box-items>div:first-child:hover::after {
	content: '머리';
}

.info-box-items>div:nth-child(2):hover::after {
	content: '목/어깨';
}

.info-box-items>div:nth-child(3):hover::after {
	content: '팔';
}

.info-box-items>div:nth-child(4):hover::after {
	content: '등/허리';
}

.info-box-items>div:nth-child(5):hover::after {
	content: '골반/다리';
}

.info-box-items>div:nth-child(6):hover::after {
	content: '종아리';
}

.info-box-items>div:hover::after {
	background-color: rgba(0, 0, 0, 0.3); /* 마우스 오버 시 반투명 검정 */
}

/*3박스*/
.main_3-box {
	background-color: #EAD292;
	height: 1300px;
}